<%= render 'layouts/nav' %>

<div class="container-fluid fill no-gutter">
<%= render 'layouts/leftnav' %>
<div class="col-md-9 fill">
      <div class="content">
      <h1>Dashboard<small><i class="fa fa-tachometer fa-1x"></i></small></h1>
      <hr>

<div id="comparison" style="height: 400px"></div>

<div class="students">
   <div class="row">
   <div class="col-md-6 col-sm-3 col-xs-12">
      <div class="panel panel-default">
      <div class="panel-heading text-center">Top Performing Students</div>
         <table class="table table-hover">
            <% @filteredstudents.sort_by(&:average).reverse.first(5).each do |s| %>
            <tr><td><%= link_to s.fullname, user_classgroup_student_path(user_id: s.user_id, id: s.id, classgroup_id: s.classgroup_id) %>
                   <span class="pull-right"><b>Average: </b><%= s.average %></span></td></tr>
            <% end %>
         </table>
      </div>
   </div>

   <div class="col-md-6 col-sm-3 col-xs-12">
      <div class="panel panel-default">
      <div class="panel-heading text-center">Underperforming Students</div>
         <table class="table table-hover">
            <% @filteredstudents.sort_by(&:average).first(5).each do |s| %>
            <tr><td><%= link_to s.fullname, user_classgroup_student_path(user_id: s.user_id, id: s.id, classgroup_id: s.classgroup_id) %>
                   <span class="pull-right"><b>Average: </b><%= s.average %></span></td></tr>
            <% end %>
         </table>
      </div>
   </div>
</div>
</div>

<div class="assignments">
   <div class="row">
   <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="panel panel-default">
      <div class="panel-heading text-center">Total Assignments</div>
         <table class="table table-hover">
            <tr><td class="text-center"><h1><div class="student-counter"><%= @assignments.count %></div></h1></tr></td>
         </table>
      </div>
   </div>


   <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="panel panel-default">
      <div class="panel-heading text-center">Total Classrooms</div>
         <table class="table table-hover">
            <tr><td class="text-center"><h1><div class="classrooms-counter"><%= @current_user.classgroups.count %></div></h1></tr></td>
         </table>
      </div>
   </div>


   <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="panel panel-default">
      <div class="panel-heading text-center">Grading Progress</div>
         <table class="table">
            <tr><td class="text-center"><div id="myStat3" data-startdegree="90" data-dimension="150" data-text="<% if @progress.nan? %>0<% else %><%= (@progress*100).round %><% end %>%" data-info="" data-width="20" data-fontsize="30" data-percent="<% if @progress.nan? %>0<% else %><%= (@progress*100).round %><% end %>" data-fgcolor="#61a9dc" data-bgcolor="#eee"></div></tr></td>
         </table>
      </div>
   </div>

   <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="panel panel-default">
      <div class="panel-heading text-center">Total Students</div>
         <table class="table table-hover">
            <tr><td class="text-center"><h1><div class="student-counter"><%= @students.count %></div></h1></tr></td>
         </table>
      </div>
   </div>
</div>
</div>

</div>
</div>
</div>

<script>
$( document ).ready(function() {

               $('.student-counter').counterUp({
                   delay: 10,
                   time: 1000
               });

               $('.assignments-counter').counterUp({
                   delay: 10,
                   time: 1000
               });

               $('.grading-counter').counterUp({
                   delay: 10,
                   time: 1000
               });

               $('.classrooms-counter').counterUp({
                   delay: 10,
                   time: 1000
               });


               $('#myStat3').circliful();

});

(function(e){"use strict";e.fn.counterUp=function(t){var n=e.extend({time:400,delay:10},t);return this.each(function(){var t=e(this),r=n,i=function(){var e=[],n=r.time/r.delay,i=t.text(),s=/[0-9]+,[0-9]+/.test(i);i=i.replace(/,/g,"");var o=/^[0-9]+$/.test(i),u=/^[0-9]+\.[0-9]+$/.test(i),a=u?(i.split(".")[1]||[]).length:0;for(var f=n;f>=1;f--){var l=parseInt(i/n*f);u&&(l=parseFloat(i/n*f).toFixed(a));if(s)while(/(\d+)(\d{3})/.test(l.toString()))l=l.toString().replace(/(\d+)(\d{3})/,"$1,$2");e.unshift(l)}t.data("counterup-nums",e);t.text("0");var c=function(){t.text(t.data("counterup-nums").shift());if(t.data("counterup-nums").length)setTimeout(t.data("counterup-func"),r.delay);else{delete t.data("counterup-nums");t.data("counterup-nums",null);t.data("counterup-func",null)}};t.data("counterup-func",c);setTimeout(t.data("counterup-func"),r.delay)};t.waypoint(i,{offset:"100%",triggerOnce:!0})})}})(jQuery);

$(function () {
    $('#comparison').highcharts({
        chart: {
            type: 'bar',
            reflow: true,
            renderTo: 'comparison'
        },
        title: {
            text: 'Classroom Comparison'
        },
        xAxis: {
            categories: <%= raw @classes.map(&:name).last(10).to_json %>,
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Grade (0-100)',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: "Class Average",
            data: <%= raw @average.to_json %>
        }]
    });
});

</script>
