<%= render 'layouts/leftnav' %>
<div class="col-md-9">
      <div class="content">
      <h1>Dashboard<small> - Students: <%= @students.count %> </small></h1>
      <hr>
</div>
   <div class="col-md-4 col-sm-3 col-xs-12">
      <div class="panel panel-default">
      <div class="panel-heading">Top Performing Students</div>

         <table class="table table-hover">
            <% @students.first(5).each do |s| %>
               <tr><td><%= link_to s.fullname, user_classgroup_student_path(user_id: s.user_id, id: s.id, classgroup_id: s.classgroup_id) %> <span class="pull-right"><b>Average:</b> <%= s.average %></span></td></tr>
            <% end %>
         </table>
      </div>
   </div>

         <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
      </div>

   </div>
</div>

<script>
$(function () {
        Highcharts.setOptions({
     colors: ['#3498db', '#CDDDE8']
    });
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'Assignments',
            align: 'center',
            verticalAlign: 'middle',
            y: 50
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'white',
                        textShadow: '0px 1px 2px black'
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        series: [{
            type: 'pie',
            name: 'Assignments',
            innerSize: '50%',
            data: [
                ['Graded',   <%= raw @graded.count.to_json %>],
                ['Ungraded', <%= raw @ungraded.count.to_json %>],
            ]
        }]
    });
});

</script>
