<div class="headnav">
<span<b><%= link_to "GRADE U", root_path %></b></span>
</div>

<div class="form-wrap">
   <div class="panel panel-default">
     <!-- Default panel contents -->
     <div class="panel-heading">Sign In</div>
     <div class="formpad">
<%= form_tag auth_path do %>
  <div class="form-group">
    <%= label_tag :email %><br/>
    <%= text_field_tag :email, "", class: "form-control" %></br>
    <%= label_tag :password %><br/>
    <%= password_field_tag :password, "", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit_tag "Sign In", class: "btn btn-primary"%>
  </div>
<% end %>
</div>
</div>
</div>
