<%= render 'layouts/genericnav' %>
<div class="form-wrap">
   <div class="panel panel-default">
     <!-- Default panel contents -->
     <div class="panel-heading">Edit Student</div>
     <div class="formpad">
<%= form_for @student, url: user_classgroup_student_path(student_id: params[:student_id]) do |f| %>

  <div class="form-group">
     <%= f.label :firstname, "First Name" %><br/>
    <%= f.text_field :firstname, class: "form-control" %></br>

    <%= f.label :lastname, "Last Name" %><br/>
    <%= f.text_field :lastname, class: "form-control" %></br>

    <%= f.label :age, "Age" %><br/>
    <%= f.text_field :age, class: "form-control" %></br>

    <%= f.label :gender, "Gender" %><br/>
    <%= f.text_field :gender, class: "form-control" %></br>
  </div>

  <div>
    <%= f.submit "Edit Student", class: "btn btn-success btn-block" %>
  </div>
<% end %>
</div>
</div>
</div>
