<%= render 'layouts/genericnav' %>
<div class="form-wrap">
   <% if @student.errors.any? %>
      <% @student.errors.full_messages.each do |s| %>
         <div class="alert alert-danger" role="alert"><%= s %></div>
         <% end %>
   <% end %>
   <div class="panel panel-default">
     <div class="panel-heading">Add Student</div>
     <div class="formpad">
<%= form_for @student, url: user_classgroup_students_path(classgroup: @classgroup) do |f| %>
  <div class="form-group">
    <%= f.label :firstname, "First Name" %><br/>
    <%= f.text_field :firstname, class: "form-control" %></br>

    <%= f.label :lastname, "Last Name" %><br/>
    <%= f.text_field :lastname, class: "form-control" %></br>

    <%= f.label :age, "Age" %><br/>
    <%= f.text_field :age, class: "form-control" %></br>

    <div class="form-group">
       <%= f.label :gender %>
       <%= f.select(:gender, options_for_select(["Male","Female"]), {}, {class: "form-control"}) %>
    </div>

    <%= f.submit "Add Student", class: "btn btn-primary btn-block"%>
  </div>
<% end %>
</div>
</div>
</div>
