<%= render 'layouts/nav' %>

<div class="container-fluid fill no-gutter">
<%= render 'layouts/leftnav' %>

<div class="col-md-9">
   <div class="content">
      <button type="button" class="btn btn-default btn-sm"></span><%= link_to "Back", user_classgroup_path(id: params[:classgroup_id]) %></button>
      <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto; margin-bottom: 30px;"></div>
   <div class="panel panel-default">
     <div class="panel-heading"><b><%= "#{@student.fullname}" %></b>
        <span class="label label-warning"><%= link_to "edit", edit_user_classgroup_student_path %></span>
        <span class="label label-danger"><%= link_to "delete", user_classgroup_student_path, method: :delete, data: {confirm: "Delete '#{@student.fullname}?'"} %></span>
        <span class="pull-right"><b>Weighted Average:</b>
      <% if @student.average.nan? %>
           No Grades
     <% else %>
         <%= @student.average %>
     <% end %>
      </span>
     </div>

   <table class="table table-hover">
   <% @assignment.each do |a| %>
   <tr><td><%= a.name %> - <%= a.grade.to_i %><span class="studenticons pull-right"><%= link_to raw(fa_icon("pencil-square-o", class: "th-medium")), edit_user_classgroup_assignment_path(student_id: @student.id, assignment_id: a.id) %><%= link_to "<span class=\"glyphicon glyphicon-remove-circle\"></span>".html_safe, user_classgroup_assignment_path(assignment_id: a.id), alt: "Delete Assignment", method: :delete, data: {confirm: "Delete '#{a.name}'?"} %></span></td></tr>
   <% end %>
   </table>
</div>
</div>
</div>

<script>
$(function () {

    var ranges = [
      <% for i in 0..@max.count-1 %>
      ["<%= @assignments[i] %>", <%= @min[i] %>, <%= @max[i] %>],
      <% end %>
        ],
        averages = [
           <% @assignment.each do |a| %>
           [<%= a.grade %>],
           <% end %>
        ];


    $('#container').highcharts({

        title: {
            text: 'Student Grades'
        },
        credits: {
      enabled: false
         },
        xAxis: {
            type: 'category'
        },

        yAxis: {
            title: {
                text: null
            }
        },

        tooltip: {
            crosshairs: true,
            shared: true
        },

        legend: {
        },

        series: [{
            name: 'Student Score',
            data: averages,
            zIndex: 1,
            marker: {
                fillColor: 'white',
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[0]
            }
        }, {
            name: 'Class Range',
            data: ranges,
            type: 'arearange',
            lineWidth: 0,
            linkedTo: ':previous',
            color: Highcharts.getOptions().colors[0],
            fillOpacity: 0.3,
            zIndex: 0
        }]
    });
});
</script>
