<%= render 'layouts/leftnav' %>

<div class="col-md-9">
   <div class="content">
      <p><%= link_to "Back", :back %></p>
      <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto; margin-bottom: 30px;"></div>
   <div class="panel panel-default">
     <!-- Default panel contents -->
     <div class="panel-heading"><%= "#{@student.firstname.capitalize} #{@student.lastname.capitalize}" %> <span class="pull-right"><b>Weighted Average:</b> <%= @student.average %></span></div>

   <table class="table table-hover">
   <% @assignment.each do |a| %>
   <tr><td><%= a.name %> - <%= a.grade.to_i %> - <%= link_to "Add Grade", edit_user_classgroup_assignment_path(student_id: @student.id, assignment_id: a.id) %></td></tr>
   <% end %>
   </table>
</div>
</div>

</div>

<script>
$(function () {


    var ranges = [
      <% for i in 0..@max.count-1 %>
      [<%= @min[i] %>, <%= @max[i] %>],
      <% end %>
        ],
        averages = [
           <% @assignment.each do |a| %>
           [<%= a.grade %>],
           <% end %>
        ];


    $('#container').highcharts({

        title: {
            text: 'Student Grades'
        },

        xAxis: {
            type: 'datetime'
        },

        yAxis: {
            title: {
                text: null
            }
        },

        tooltip: {
            crosshairs: true,
            shared: true
        },

        legend: {
        },

        series: [{
            name: 'Student Score',
            data: averages,
            zIndex: 1,
            marker: {
                fillColor: 'white',
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[0]
            }
        }, {
            name: 'Class Range',
            data: ranges,
            type: 'arearange',
            lineWidth: 0,
            linkedTo: ':previous',
            color: Highcharts.getOptions().colors[0],
            fillOpacity: 0.3,
            zIndex: 0
        }]
    });
});
// $(function () {
//     $('#container').highcharts({
//         title: {
//             text: 'Student Grades',
//             x: -20 //center
//         },
//         xAxis: {
//             categories: <%= raw @assignment.pluck("name").to_json%>
//         },
//         yAxis: {
//             title: {
//                 text: 'Grade'
//             },
//             plotLines: [{
//                 value: 0,
//                 width: 1,
//                 color: '#808080'
//             }]
//         },
//         tooltip: {
//             valueSuffix: '°C'
//         },
//         legend: {
//             layout: 'vertical',
//             align: 'right',
//             verticalAlign: 'middle',
//             borderWidth: 0
//         },
//         series: [{
//             name: <%= raw @student.firstname.to_json %>,
//             data: <%= raw @assignment.pluck("grade").to_json %>
//         }]
//     });
// });
</script>
