<!DOCTYPE html>
<html><head>
    <div class="bg-img">
      <h1 class="text-center"><b>GRADE</b>U</h1>
      <div class="splash-links text-center">
         <%= image_tag "ipad.png", class: "center-block" %>
          <%= link_to "Sign in", sign_in_path %>
          <%= link_to "Register", new_user_path %>
       </div>
      </div>
</body></html>
<!-- <div class="center-img">
   <%= image_tag "logo.jpg", class: "center-block" %>
</div>

<div class="col-md-12 text-center">
   <div class="splash-links">
      <%= link_to "Sign in", sign_in_path %>
      <%= link_to "Register", new_user_path %>
   </div>
</div> -->
