<%= render 'layouts/leftnav' %>

   <div class="col-md-9">
      <div class="content">
         <div class="page-header">
            <h3>Dashboard <small><%= @classgroup.name %></small></h3>
            <%= link_to "Add Assignment", new_user_classgroup_assignment_path(classgroup_id: @classgroup.id) %>
         </div>

         <div class="panel panel-default">
           <!-- Default panel contents -->
           <div class="panel-heading">Total of <b><%= @students.count %></b> student(s) enrolled - <%= link_to "Add Student", new_user_classgroup_student_path(user_id: @current_user, classgroup_id: @classgroup.id) %></div>

           <!-- Table -->

           <table class="table table-hover">
      <% @students.each do |s| %>
         <tr><td><%= link_to "#{s.firstname.capitalize} #{s.lastname.capitalize}", user_classgroup_student_path(id: s.id, classgroup_id: @classgroup.id, user_id: @current_user.id) %></td></tr>
         <% end %>
      </table>
    </div>



   </div>
   </div>
</div>
